*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: gray;
}


.button-container{
    display: flex;
    align-items: center;
}








.content,
.content,
.content{
    display: none;
}

.active{
    display: block;
}