*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: gray;
}

.main-container{
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

.second-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

textarea{
    resize: none;
}